{% extends "base.html" %}
{% load cms_tags static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/kipya-slider.css' %}">
<div class="page-section section-header">
    <div class="page-section-header-layer page-section-header-background">
    </div>
    <div class="page-section-header-layer page-section-header-lines">
      <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 4 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 6 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 8 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 10 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 12 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 14 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 16 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 18 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 20 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 22 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 24 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 26 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 28 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 30 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 32 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 34 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 36 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 38 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 40 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 42 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 44 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 46 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 48 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 50 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 52 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 54 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 56 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 58 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 60 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 62 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 64 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 66 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 68 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 70 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 72 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 74 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 76 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 78 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 80 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 82 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 84 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 86 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 88 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 90 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 92 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 94 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 96 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 98 L 0 100"/>
                  <path class="upLeftCenter1" stroke-width="0.02" stroke="#fcca0a" d="M100 100 L 0 100"/>
        </svg>
    </div>
    <div class="page-section-header-layer page-section-header-content">
      {% include 'navbar.html' %}
      <div class="header-content">
        <div class="kipya-slides-container">
          <div class="kipya-slides-wrapper">
            <div class="kipya-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center">
                  {% placeholder "slide-1-left" %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  d-flex flex-column justify-content-center align-items-center">
                  {% placeholder "slide-1-right" %}
                </div>
              </div>
            </div>
            <div class="kipya-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  d-flex justify-content-center align-items-center">
                  {% placeholder "slide-2-left" %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  d-flex flex-column justify-content-center align-items-center">
                  {% placeholder "slide-2-right" %}
                </div>
              </div>
            </div>
            <div class="kipya-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center">
                  {% placeholder "slide-3-left" %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  d-flex flex-column justify-content-center align-items-center">
                  {% placeholder "slide-3-right" %}
                </div>
              </div>
            </div>
            <div class="kipya-slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  d-flex justify-content-center align-items-center">
                  {% placeholder "slide-4-left" %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-center">
                  {% placeholder "slide-4-right" %}
                </div>
              </div>
            </div>
          </div>
          <div class="kipya-slides-pagination">
          </div>
        </div>
      </div>
    </div>
      {% include "menu.html" %}
  </div>
<div class="page-section">
  {% placeholder "homepage-content" %}
</div>
<script src="{% static 'js/jquery.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/index.js' %}" charset="utf-8"></script>

{% endblock %}
